<!DOCTYPE html>
<html>
<head><title>Aptroid</title></head>
<body>
    <center>
        <h1>Welcome To Aptroid</h1>
        <h2>Employees In Organization</h2>
    </center>
    <ul>
        {{range .employees}}
        <li>Name: {{.Name}}</li>
        <li>Employe ID: <b>{{.Id}}</b></li>
        <li>Gender: {{.Gender}}</li>
        <li>Role: {{.Role}}</li>
        <li>Address: <Address>
            <ul>
                <li>District: {{.Address.District}}</li>
                <li>Pincode: {{.Address.Pincode}}</li>
            </ul>
        </Address></li>
        <hr>
        {{end}}
    </ul>

</body>
</html>